.lineheightMenu a{
	line-height: 35px !important;
}

.marginTop18{
	margin-top: 18px;
}

.marginLeftRight30{
	margin: 0 30px;
}

.lineheightHeader{
	line-height: 35px !important;
}

.font-size-20{
	font-size: 20px;
}

.topMargin25px{
	margin-top: 25px;
}