<div>
	<div class="well">
		<div class="text-center">
			<div class="row font-size-20">
				<div class="col-sm-12 col-lg-2"><h1>Contact Us:</h1></div>
				<div class="col-sm-12 col-lg-2 text-center topMargin25px">
					<img src="images/whatsappIcon.png" width="32px" /> 00923135056758
				</div>
				<div class="col-sm-12 col-lg-2 text-center topMargin25px">
					<img src="images/skypeIcon.png" width="32px" /> mzdatasolutions
				</div>
				<div class="col-sm-12 col-lg-3 text-center topMargin25px">
					<img src="images/gmailIcon.png" width="32px" /> mzdatasolutions@gmail.com
				</div>
				<div class="col-sm-12 col-lg-3 text-center topMargin25px">
					<img src="images/yahooIcon.png" width="32px" /> abbas_as2002@yahoo.com
				</div>
			</div>
		</div>
		<div class="row">&nbsp;</div>
		<div>
			<div class="row">
				<div class="col-sm-12 col-lg-8">
					<div class="well well-sm">
						<form>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="name">
											Name</label>
											<input type="text" class="form-control" ng-model="namef" id="name" placeholder="Enter name" required="required" />
										</div>
										<div class="form-group">
											<label for="email">
												Email Address</label>

												<input type="email" class="form-control" ng-model="emailf" id="email" placeholder="Enter email" required="required" /> 
											</div>
											<div class="form-group">
												<label for="phone">
													Phone</label>

													<input type="text" class="form-control" ng-model="phonef" id="phone" placeholder="Enter phone" required="required" /> 
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="name">
														Message</label>
														<textarea name="message" maxlength="400" id="message" ng-model="messagef" class="form-control" rows="9" cols="25" required="required"
														placeholder="Message"></textarea>
													</div>
												</div>
												<div class="col-md-12">
													<button class="btn btn-primary pull-right" ng-click="contactus()" id="btnContactUs">
														Send Message</button>
													</div>
												</div>
											</form>
										</div>
									</div>
									<div class="col-sm-12 col-lg-4">
										<form>
											<legend>Our office</legend>
											<address><strong>Mirza Abbas Nasir Baig</strong><br>
												Managing Director</address>
												<address>
													<strong>MZ Data Solutions</strong><br>
													Office # 2, 3rd Floor,<br>
													Crystal Plaza, Satellite Town,<br>
													Rawalpindi<br>
													051-8431745<br>
													0092-313-5056758
												</address>
											</form>
										</div>
									</div>
								</div>
							</div>  
						</div>