<div>
	<div class="row">&nbsp;</div>
	<div class="well">
		<div class="row">
			<div class="col-sm-12 col-lg-12 text-center"><h1>Update Rates</h1></div>
		</div>
		<div class="">
			<div class="row">
			<div class="col-sm-12 col-lg-12">
					<table st-table="rowCollections" st-safe-src="rowCollection" class="table table-striped">
						<thead>
							<tr>
								<th>Currency Type</th>
								<th>Purchase @ Price/USD</th>
								<th>Sell @ Price/USD</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="row in rowCollections track by $index">
								<td><img src={{row.cur_type}} width="200px" /></td>
								<td><input type="text" class="form-control" ng-model="row.purchase_price" id="name" placeholder="Enter name" required="required" /></td>
								<td><input type="text" class="form-control" ng-model="row.sell_price" id="name" placeholder="Enter name" required="required" /></td>
								<td><button class="btn btn-primary" ng-click="updateRates(row)" id="btnUpdate">Update</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- <div class="well">
	<div class="row">
		<div class="col-sm-12 col-lg-12 text-center"><h1>Selling Calculator</h1></div>
	</div>	
	<div class="row">
		<div class="col-sm-12 col-lg-1 text-center"><h3>Sell</h3></div>
		<div class="col-sm-12 col-lg-2 text-center"><input type="number" min="0.01" step="any" ng-model="convertAmount" class="form-control text-right marginTop18"></div>
		<div class="col-sm-12 col-lg-3 text-center marginTop18"><a href class="btn btn-primary" ng-click="wmtopm()">Web Money to Perfect Money</a></div>
		<div class="col-sm-12 col-lg-3 text-center marginTop18"><a href class="btn btn-primary" ng-click="wmtobc()">Web Money to Bitcoin</a></div>
		<div class="col-sm-12 col-lg-3 text-center marginTop18"><a href class="btn btn-primary" ng-click="bctopm()">Bitcoin to Perfect Money</a></div>
	</div>	
	<div class="row" ng-show="wmtopmon">
		<div class="col-sm-12 col-lg-1 text-center"><h3>Web Money to Perfect Money</h3></div>
		<div class="col-sm-12 col-lg-2 text-center"><input type="text" value="0.00" class="form-control text-right marginTop18"></div>
		<div class="col-sm-12 col-lg-3 text-center marginTop18"><a href="#" class="btn btn-primary">Web Money to Perfect Money</a></div>
		<div class="col-sm-12 col-lg-3 text-center marginTop18"><a href="#" class="btn btn-primary">Web Money to Bitcoin</a></div>
		<div class="col-sm-12 col-lg-3 text-center marginTop18"><a href="#" class="btn btn-primary">Bitcoin to Perfect Money</a></div>
	</div>	
	<div class="row" ng-show="wmtobcon">
		<div class="col-sm-12 col-lg-1 text-center"><h3>Web Money to bit coin</h3></div>
		<div class="col-sm-12 col-lg-2 text-center"><input type="text" value="0.00" class="form-control text-right marginTop18"></div>
		<div class="col-sm-12 col-lg-3 text-center marginTop18"><a href="#" class="btn btn-primary">Web Money to Perfect Money</a></div>
		<div class="col-sm-12 col-lg-3 text-center marginTop18"><a href="#" class="btn btn-primary">Web Money to Bitcoin</a></div>
		<div class="col-sm-12 col-lg-3 text-center marginTop18"><a href="#" class="btn btn-primary">Bitcoin to Perfect Money</a></div>
	</div>	
	<div class="row" ng-show="bctopmon">
		<div class="col-sm-12 col-lg-1 text-center"><h3>Bit coin to Perfect Money</h3></div>
		<div class="col-sm-12 col-lg-2 text-center"><input type="text" value="0.00" class="form-control text-right marginTop18"></div>
		<div class="col-sm-12 col-lg-3 text-center marginTop18"><a href="#" class="btn btn-primary">Web Money to Perfect Money</a></div>
		<div class="col-sm-12 col-lg-3 text-center marginTop18"><a href="#" class="btn btn-primary">Web Money to Bitcoin</a></div>
		<div class="col-sm-12 col-lg-3 text-center marginTop18"><a href="#" class="btn btn-primary">Bitcoin to Perfect Money</a></div>
	</div>	 
</div>

<div class="well">
	<div class="row">
		<div class="col-sm-12 col-lg-12 text-center"><h1>Buying Calculator</h1></div>
	</div>	
	<div class="row">
		<div class="col-sm-12 col-lg-1 text-center"><h3>Buy</h3></div>
		<div class="col-sm-12 col-lg-2 text-center"><input type="number" min="0.01" step="any" ng-model="convertAmount" class="form-control text-right marginTop18"></div>
		<div class="col-sm-12 col-lg-3 text-center marginTop18"><a href class="btn btn-primary" ng-click="wmtopm()">Web Money to Perfect Money</a></div>
		<div class="col-sm-12 col-lg-3 text-center marginTop18"><a href class="btn btn-primary" ng-click="wmtobc()">Web Money to Bitcoin</a></div>
		<div class="col-sm-12 col-lg-3 text-center marginTop18"><a href class="btn btn-primary" ng-click="bctopm()">Bitcoin to Perfect Money</a></div>
	</div>	
	<div class="row" ng-show="wmtopmon">
		<div class="col-sm-12 col-lg-1 text-center"><h3>Web Money to Perfect Money</h3></div>
		<div class="col-sm-12 col-lg-2 text-center"><input type="text" value="0.00" class="form-control text-right marginTop18"></div>
		<div class="col-sm-12 col-lg-3 text-center marginTop18"><a href="#" class="btn btn-primary">Web Money to Perfect Money</a></div>
		<div class="col-sm-12 col-lg-3 text-center marginTop18"><a href="#" class="btn btn-primary">Web Money to Bitcoin</a></div>
		<div class="col-sm-12 col-lg-3 text-center marginTop18"><a href="#" class="btn btn-primary">Bitcoin to Perfect Money</a></div>
	</div>	
	<div class="row" ng-show="wmtobcon">
		<div class="col-sm-12 col-lg-1 text-center"><h3>Web Money to bit coin</h3></div>
		<div class="col-sm-12 col-lg-2 text-center"><input type="text" value="0.00" class="form-control text-right marginTop18"></div>
		<div class="col-sm-12 col-lg-3 text-center marginTop18"><a href="#" class="btn btn-primary">Web Money to Perfect Money</a></div>
		<div class="col-sm-12 col-lg-3 text-center marginTop18"><a href="#" class="btn btn-primary">Web Money to Bitcoin</a></div>
		<div class="col-sm-12 col-lg-3 text-center marginTop18"><a href="#" class="btn btn-primary">Bitcoin to Perfect Money</a></div>
	</div>	
	<div class="row" ng-show="bctopmon">
		<div class="col-sm-12 col-lg-1 text-center"><h3>Bit coin to Perfect Money</h3></div>
		<div class="col-sm-12 col-lg-2 text-center"><input type="text" value="0.00" class="form-control text-right marginTop18"></div>
		<div class="col-sm-12 col-lg-3 text-center marginTop18"><a href="#" class="btn btn-primary">Web Money to Perfect Money</a></div>
		<div class="col-sm-12 col-lg-3 text-center marginTop18"><a href="#" class="btn btn-primary">Web Money to Bitcoin</a></div>
		<div class="col-sm-12 col-lg-3 text-center marginTop18"><a href="#" class="btn btn-primary">Bitcoin to Perfect Money</a></div>
	</div>	 
</div> -->


